@import url(//db.onlinewebfonts.com/c/69dbc1186412d7831b88d8a78a360360?family=DIN+Condensed+Web);

body {
    background-color: #121819;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

:root {
    --pirilightblack: #0e0e0e;
    --piriblue: #00beed;
}

#profileicon {
    position: absolute;
    top: 30%;
    right: 15%;
    z-index: 10;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

#profileicon:hover {
    position: absolute;
    top: 30%;
    right: 15%;
    z-index: 10;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    overflow: hidden;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

.alert {
    border: none;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: black;
    background-color: red;
    position: absolute;
    top: 15%;
    left: 30%;
    width: 40vw;
    height: 50px;
    overflow: hidden;
}

.alert-success {
    border: none;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--piriblue);
    border: solid 2px white;
    position: absolute;
    top: 3.5%;
    right: 2%;
    width: 150px;
    height: 30px;
    overflow: hidden;
}

.logout_message {
    display: none;
}

.logout_message.show {
    border: none;
    border-radius: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: green;
    border: solid 2px white;
    position: absolute;
    top: 3.5%;
    right: 2%;
    width: 150px;
    height: 30px;
    overflow: hidden;
}

.alert-success button {
    display: none;
}

.alert button {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: none;
    margin-left: 100px;
    margin-right: 20px;
    width: 40px;
    height: 30px;
    background-color: var(--piriblue);
    font-size: 20px;
    transition: all 300ms ease-in-out;
}

.alert button:hover {
    width: 42px;
    height: 32px;
    color: white;
    border: solid 2px white;
}

.alert.closealert {
    display: none;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 1%;
    z-index: 10;
    width: clamp(200px, 20vw, 370px);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.sub-menu {
    background: var(--pirilightblack);
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-info h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700 !important;
    font-size: 25px;
}

.user-info img {
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: white;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 12px 0;

}

.sub-menu-link p {
    margin-top: 12px;
    width: 100%;
    height: 100%;
    align-content: center;
    align-self: center;
    font-size: 18px;

}

.sub-menu-link img {
    width: 70px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu-link span {
    font-size: 22px;
    transition: trasnform 0.5s;

}

.sub-menu-link:hover span {
    transform: translateX(5px);
    color: white;
}

.sub-menu-link:hover p {
    font-weight: 600;
    color: white;
}

.container {
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    float: right;
}

.container-fluid {
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

h1 {
    color: white;
    text-transform: capitalize;
    font-family: "DIN Condensed Web";
    src: url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.eot");
    src: url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.woff") format("woff"), url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/69dbc1186412d7831b88d8a78a360360.svg#DIN Condensed Web") format("svg");
    text-align: center;
    letter-spacing: -0.01em;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    padding-left: 0%;
    padding-right: 0%;
}


.nav-link {
    align-items: center;
    width: 10vw;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    text-align: center;
    font-weight: 400;
    color: #eaeaea;
    text-transform: uppercase;
    align-content: center;
    letter-spacing: 0.05em;
    font-size: normal;
    font-size: 0.8vw;
    font-family: "Montserrat", sans-serif;
    font-weight: 700 !important;


}

@media screen and (min-width:600px) and (max-width:1100px) {
    .nav-link {
        align-items: center;
        width: 10vw;
        text-align: center;
        font-weight: 400;
        text-transform: uppercase;
        align-content: center;
        letter-spacing: 0.02em;
        font-size: normal;
        font-size: 8px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700 !important;
        padding-left: 0%;
    }

    .navbarbutton {
        display: inline;
        align-items: center;
        width: 20%;
        border-radius: 60px;
        padding: 0, 0, 0, 0;
        margin-left: 0%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .nav-item {
        align-self: center;
        margin-right: 0%;
        margin-left: 0%;
        padding: 0, 0, 0, 0;

    }

}


.navbar-calender {
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-item {
    align-self: center;
    margin-right: 0%;
}

.nav-link:hover {
    color: #17304d;
}

.navbarbutton {
    align-items: center;
    width: 10%;
    border-radius: 60px;
}

.navbarbutton:hover {
    box-shadow: 10 8px 6px rgb(34, 60, 80, 0.16);
}

.navbar-brand {
    margin-left: 0%;
    margin-left: 10px;
}

.navbar {
    padding-top: 10px;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    margin-bottom: 0%;
    margin-right: 0%;
    margin-left: 0%;
    width: 100%;
}

.homepagenavbar {
    margin: 0, 0, 0, 0;
    list-style: none;
    width: 100%;
}

.collapse {
    margin-right: 0%;
}

.navbar-nav {
    margin-right: 0%;
}

.dropdown-menu {
    margin-right: 0%;
}

.search {
    align-self: center;
    height: 2vw;
    width: 12vw;
    border: 60px;
    border-radius: 60px;
    outline: none;
    font-size: 1vw;
    border: 2px solid #00beed;
    margin-right: -4vw;
}

.btn0 {
    text-align: center;
    align-self: center;
    height: 2vw;
    width: 5vw;
    outline: none;
    border: none;
    border: 2px solid #00beed;
    background: #00beed;
    color: white;
    border-radius: 60px;
    font-size: 1vw;
    font-weight: 600;
    margin-right: 0.2vw;
}

.website-background {
    background-color: #121819;
    width: 100%;
    height: 100%;
}

.burgermenu {
    background: #00beed;
    color: white;
}

.logo-img {
    width: clamp(200px, 20vw, 250px);
    height: auto;
    margin-left: 10px;
    margin-right: clamp(10px, 4vw, 100px);
    aspect-ratio: 16/4;
}

@media only screen and (min-width: 770px) and (max-width: 1100px) {
    .logo-img {
        width: clamp(150px, 20vw, 200px);
        height: auto;
        margin-left: 10px;
        margin-right: 1vw;
        aspect-ratio: 16/4;
    }
}

@media only screen and (max-width: 770px) {
    .logo-img {
        width: clamp(200px, 40vw, 500px);
        height: auto;
        aspect-ratio: 16/4;
    }
}