:root {
    --pirilightblack: #0e0e0e;
    --piriblue: #00beed;
}

.banner {
    width: 100%;
    height: 900px;
    position: relative;
    overflow: hidden;
}

.slider {
    width: 100%;
    height: 150vh;
    position: absolute;
    top: 0;

}

#slideImg {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7), );
    position: absolute;
    top: 0;
    vertical-align: middle;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.mainsection {
    background-color: #121819;
    width: 50vw;
    height: 90%;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.mainsection h1 {

    font-family: "Montserrat", sans-serif;
    font-weight: 700 !important;
    color: var(--piriblue);
    font-size: clamp(20px, 5vw, 50px);
    margin-bottom: 0%;
}

.form-label {
    margin-top: 0%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: var(--piriblue);
    font-size: clamp(10px, 2vw, 25px);
}

.enterfield {
    justify-self: center;
    margin-top: 0%;
    padding: 0%;
    padding-left: clamp(10px, 2vw, 50px);
    padding-right: clamp(10px, 2vw, 50px);
    width: 50vw;
    margin-bottom: 10px;
}

.dateofbirthdiv {
    width: auto;
    margin: 10px 10px 10px 0px;
    flex: 1 1 50px;
}

.imgselectdiv {
    margin: 10px 0px 10px 10px;
    width: auto;
    flex: 1 1 50px;
}

#password1 {
    margin-bottom: 10px;
}

#password2 {
    margin-bottom: 10px;
}

#DOB {
    margin-top: 40px;
    width: auto;
}

#Dateofbirth {
    height: clamp(30px, 5vw, 50px);
    width: 100%;
}

.buttondiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    color: black;
    font-size: clamp(15px, 2vw, 20px);
    background-color: var(--piriblue);
    font-weight: 600;
    width: clamp(70px, 10vw, 150px);
    height: clamp(50px, 5vw, 50px);
    transition: all 300ms ease-in-out;
}

.signupbutton:hover {
    border: 2px solid white;
    color: white;
    font-size: 22px;
}

.dateandimagediv {
    padding-left: clamp(10px, 2vw, 50px);
    padding-right: clamp(10px, 2vw, 50px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#formFile {
    display: flex;
    justify-content: center;
    align-self: center;
    height: clamp(30px, 5vw, 50px);
    width: 100%;
}