{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/create_an_event.css">
{% endblock %}

{% block header %}
<div class="slider"></div>
{% endblock %}

{% block content %}
<div class="mainsection">
    <div class="titlecontainer">
        <h1 class="heading">Create an event</h1>
        <hr class="line" width="90%" />
    </div>
    <div class="sectionbody">
        <div class="left_column">
            <div class="nameevent">
                <label for="exampleFormControlInput1" class="form-label">name</label>
                <input type="email" class="form-control" id="enternameinput" placeholder="enter name">
            </div>
            <div class="dateandtime">
                <h1>Date and Time</h1>
                <div class="form-floating mb-3" id="event_starts">
                    <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">event starts</label>
                </div>
                <div class="form-floating 2" id="event_ends">
                    <input type="date" class="form-control" id="floatingInput" placeholder="Password">
                    <label for="floatingInput">event ends</label>
                </div>
                <div class="form-floating mb-3" id="start_time">
                    <input type="time" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">start time</label>
                </div>
                <div class="form-floating 2" id="end_time">
                    <input type="time" class="form-control" id="floatingInput" placeholder="Password">
                    <label for="floatingInput">end time</label>
                </div>
            </div>
            <div class="mb-3" id="locationdiv">
                <label for="exampleFormControlInput1" class="form-label">Location</label>
                <input type="email" class="form-control" id="locationinput" placeholder="Enter location">
            </div>
            <div class="ticketsdiv">
                <h3>tickets</h3>
                <div class="quanity">
                    <div class="mb-3" id="how_many-tickets">
                        <label for="exampleFormControlInput1" class="form-label2">How many
                            tickets</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="....">
                    </div>
                </div>
                <div class="ticketprice">
                    <div class="mb-3" id="ticket_price">
                        <label for="exampleFormControlInput1" class="form-label2">ticket price</label>
                        <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="...">
                    </div>
                </div>
            </div>
            <div class="mb-3" id="age_resitrict_div">
                <label for="exampleFormControlInput1" class="form-label">Age Restriction</label>
                <input type="age" class="form-control" id="ageinput" placeholder="Enter Age Restriction">
            </div>
        </div>
        <div class="middle_column">
            <h2>Event description</h2>
            <div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="20"></textarea>
            </div>
        </div>
        <div class="right_column">
            <h1>drag photos in here</h1>
            <div class="photosdiv">
                <div class="special_photo">
                    <h2>Cover photo</h2>
                    <img class="importimgs" src="/static/imgs/events/themet3.jpg" alt="">
                </div>
                <img class="importimgs" src="/static/imgs/carousel images/club2.jpg" alt="">
                <img class="importimgs" src="/static/imgs/carousel images/splendour.jpg" alt="">
                <img class="importimgs" src="/static/imgs/carousel images/ultra.jpg" alt="">
                <img class="importimgs" src="/static/imgs/carousel images/splendour3.jpg" alt="">
                <img class="importimgs" src="/static/imgs/events/omnia.jpg" alt="">
                <img class="importimgs" src="/static/imgs/events/themet2.jpg" alt="">
                <img class="importimgs" src="/static/imgs/events/untold.jpg" alt="">
            </div>
            <div class="categorydiv">
                <h1>Event category</h1>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        choose here
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Club</a></li>
                        <li><a class="dropdown-item" href="#">Festival</a></li>
                        <li><a class="dropdown-item" href="#">Concert</a></li>
                        <li><a class="dropdown-item" href="#">Bar</a></li>
                        <li><a class="dropdown-item" href="#">Dj</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}