{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/create_an_event.css">
{% endblock %}

{% block header %}
<div class="slider"></div>
{% endblock %}

{% block content %}
<div class="mainsection">
    <div class="titlecontainer">
        <h1 class="heading">Create an event</h1>
        <hr class="line" width="90%" />
    </div>
    <form method="POST" enctype="multipart/form-data">
        <div class="sectionbody">
            <div class="left_column">
                <div class="nameevent">
                    <label for="exampleFormControlInput1" class="form-label">name</label>
                    <input type="text" class="form-control" id="enternameinput" placeholder="enter name" name="name">
                </div>
                <div class="dateandtime">
                    <h1>Date and Time</h1>
                    <div class="form-floating mb-3" id="event_starts">
                        <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com"
                            name="startDate">
                        <label for="floatingInput">event starts</label>
                    </div>
                    <div class="form-floating 2" id="event_ends">
                        <input type="date" class="form-control" id="floatingInput" placeholder="Password"
                            name="endDate">
                        <label for="floatingInput">event ends</label>
                    </div>
                </div>
                <div class="mb-3" id="locationdiv">
                    <label for="exampleFormControlInput1" class="form-label">Location</label>
                    <input type="text" class="form-control" id="locationinput" placeholder="Enter location"
                        name="location">
                </div>
                <div class="ticketsdiv">
                    <h3>tickets</h3>
                    <div class="quanity">
                        <div class="mb-3" id="how_many-tickets">
                            <label for="exampleFormControlInput1" class="form-label2">How many
                                tickets</label>
                            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="...."
                                name="ticketNum">
                        </div>
                    </div>
                    <div class="ticketprice">
                        <div class="mb-3" id="ticket_price">
                            <label for="exampleFormControlInput1" class="form-label2">ticket price</label>
                            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="..."
                                name="price">
                        </div>
                    </div>
                </div>
                <div class="mb-3" id="age_resitrict_div">
                    <label for="exampleFormControlInput1" class="form-label">Age Restriction</label>
                    <input type="age" class="form-control" id="ageinput" placeholder="Enter Age Restriction"
                        name="ageRestrict">
                </div>
            </div>
            <div class="middle_column">
                <h2>Event description</h2>
                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="20"
                        name="description"></textarea>
                </div>
            </div>
            <div class="right_column">
                <div class="photosdiv">
                    <label for="formFile" class="form-label">Select a profile img</label>
                    <input class="form-control" type="file" id="formFile" name="image">
                </div>
                <div class="catagory-list">
                    <h1 id="title">Select event catagory</h1>
                    <select name='type' class="selectpicker show-menu-arrow form-control" multiple data-max-options="2"
                        data-live-search="true">
                        <option value="Festival">Festivals</option>
                        <option value="Club">Club Events</option>
                        <option value="Concert">Concerts</option>
                        <option value="DJ">Dj gigs</option>
                        <option value="Bar">Bar events</option>
                    </select>
                    <div class="catagory-list">
                        <h1 id="title">release or draft</h1>
                        <select name='status' class="selectpicker show-menu-arrow form-control" multiple
                            data-max-options="2" data-live-search="true">
                            <option value="open">Publish now</option>
                            <option value="unpublished">Save as draft</option>
                        </select>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Search!</button>
                        </span>
                    </div>
                    <div class="buttondiv">
                        <button type="submit" class="signupbutton">Submit</button>
                    </div>
                </div>
            </div>
    </form>
</div>
{% endblock %}