{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/event_details_page.css">
{% endblock %}

{% block header %}
<div class="slider">
    <img src="/static/imgs/carousel images/splendour.jpg" id="slideImg">
</div>
{% endblock %}

{% block content %}
<div class="titlecontainer">
    <h5 class="event-title">{{event.name}}</h5>
    <h6 class="eventdate">{{event.startDate}} – {{event.endDate}}</h6>
</div>
<div class="mainsection">
    <div class="eventdetailssection">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="overlay-image"
                        style="background-image: url('/static/imgs/carousel images/splendour2.jpg');">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="overlay-image"
                        style="background-image: url('/static/imgs/carousel images/splendour4.webp');">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="overlay-image"
                        style="background-image: url('/static/imgs/carousel images/splendour3.jpg');">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="detailsbody">
            <div class="location_status">
                <h9 class="eventtype"><span>event type:</span> {{event.type}}</h9>
                <h10 class="eventstatus">{{event.status}}</h10>
            </div>
            <div class="pricediv">
                <h9 class="price">${{event.price}} aud</h9>
                <a href="{{url_for('views.buy_ticket_function')}}" class="pricebutton">BUY TICKETS</a>
                <h1>{{event.startDate}}
                </h1>
                <h3>{{event.endDate}}
                </h3>
            </div>
            <div class="textandmap">
                <p class="event-text">{{event.description}}
                </p>
            </div>
        </div>
    </div>
    <div class="commentsection">
        <form action="/comment" method="post" enctype="multipart/form-data">
            <input type="text" hidden value="{{user.id}}" name="userId" id="userId">
            <input type="text" hidden value="{{event.eventId}}" name="eventId" id="eventId">
            <input type="text" required name="commentText" id="commentText" placeholder="Write a comment">
            <button type="submit" class="btn" id="submitcomment">comment</button>
        </form>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            {% for comment in comments %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-heading{{comment.id}}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapse{{comment.id}}" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapse{{comment.id}}">
                        <div class="profile">
                            <!--img---->
                            <div class="profile-img">
                                <img src="/static/imgs/profileimgs/{{comment.comments_posted.profileImg}}" />
                            </div>
                            <!--name-and-username-->
                            <div class="name-user">
                                <strong>{{comment.comments_posted.username}}</strong>
                            </div>
                        </div>
                        <div class="reviews">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <!--Empty star-->
                            <i class="far fa-star"></i>
                            <!--Empty star-->
                        </div>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapse{{comment.id}}" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-heading{{comment.id}}">
                    <div class="accordion-body">
                        {{comment.comment}}
                    </div>
                </div>
            </div>
                {% endfor %}
        </div>

    </div>
</div>

{% endblock %}