{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/buy_ticket.css">
{% endblock %}

{% block header %}
<div class="slider">
    <img src="/static/imgs/carousel images/splendour.jpg" id="slideImg">
</div>
{% endblock %}

{% block content %}
<div class="titlecontainer">
    <h5 class="event-title">{{event.name}}</h5>
    <h6 class="eventdate">{{event.startDate}} – {{event.endDate}}</h6>
</div>
<div class="mainsection">
    <div class="eventdetailssection">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="overlay-image"
                        style="background-image: url('/static/imgs/carousel images/splendour2.jpg');">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="overlay-image"
                        style="background-image: url('/static/imgs/carousel images/splendour4.webp');">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="overlay-image"
                        style="background-image: url('/static/imgs/carousel images/splendour3.jpg');">
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="detailsbody">
            <div class="location_status">
                <h9 class="eventtype"><span>event type:</span> {{event.type}}</h9>
                <h10 class="eventstatus">{{event.status}}</h10>
            </div>
            <div class="pricediv">
                <h9 class="price">${{event.price}} aud</h9>
                <a href="splendour" class="pricebutton">BUY TICKETS</a>
                <h1>{{event.startDate}}
                </h1>
                <h3>{{event.endDate}}
                </h3>
            </div>
            <div class="textandmap">
                <p class="event-text">{{event.description}}
                </p>
            </div>
        </div>
    </div>
    <div class="commentsection">
        <button type="button" class="btn" id="submitcomment">comment</button>
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                        <div class="profile">
                            <!--img---->
                            <div class="profile-img">
                                <img src="/static/imgs/profileimgs/c-1.jpg" />
                            </div>
                            <!--name-and-username-->
                            <div class="name-user">
                                <strong>Touseeq Ijaz</strong>
                                <span>@touseeqijazweb</span>
                            </div>
                        </div>
                        <div class="reviews">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <!--Empty star-->
                        </div>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        John Yolpos Gleeson the only problem is there will be a capped amount of
                        attendence numbers for each day. Take into account that half of the venue is
                        under water. You got no chance
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo">
                        <div class="profile">
                            <!--img---->
                            <div class="profile-img">
                                <img src="/static/imgs/profileimgs/c-2.jpg" />
                            </div>
                            <!--name-and-username-->
                            <div class="name-user">
                                <strong>Oli Ivett</strong>
                                <span>@oliivett</span>
                            </div>
                        </div>
                        <div class="reviews">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <!--Empty star-->
                            <i class="far fa-star"></i>
                            <!--Empty star-->
                        </div>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        Release a statement on the bus situation from last night please. People waiting
                        7 hours for a bus, without water and in the mud,and hardly a staff member in
                        site is unacceptable and dangerous. Saw plenty of police walking around at the
                        end of the festival last night, yet none of them jumped on crowd management or
                        helped your staff, who I saw 3 of, trying to direct the thousands of people
                        trying to get home. Is the bus situation going to be the same tonight? Should we
                        even bother going today? The weather might be out of your control but you’ve had
                        3 years to plan for the worst case scenarios.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree">
                        <div class="profile">
                            <!--img---->
                            <div class="profile-img">
                                <img src="/static/imgs/profileimgs/c-3.jpg" />
                            </div>
                            <!--name-and-username-->
                            <div class="name-user">
                                <strong>Clancy Lucas</strong>
                                <span>@ClancyLucas123</span>
                            </div>
                        </div>
                        <div class="reviews">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="far fa-star"></i>
                            <!--Empty star-->
                            <i class="far fa-star"></i>
                            <!--Empty star-->
                            <i class="far fa-star"></i>
                            <!--Empty star-->
                        </div>
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                    aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        Splendour in the Grass can we use our Friday tickets for today or Sunday rather
                        than a refund? I paid a lot of money to make my Friday splendour date work. As a
                        loyal punter I feel like everyone including myself that missed yesterday due to
                        weather sho… See more
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

    {% endblock %}