{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/hosted_events.css">
{% endblock %}

{% block header %}
<video
    src="https://player.vimeo.com/progressive_redirect/playback/727922541/rendition/1080p/file.mp4?loc=external&amp;signature=cbfc2ec884c2abea8922dbc94e0821a1683b460e02d30925c5b3361882c1d2b3"
    autoplay="" loop="" muted="" playsinline=""></video>
{% endblock %}

{% block content %}
<div class="mainsection">
    <h1>My hosted events</h1>
    <div class="innndiv">
        {% for event in events %}
        <div class="card">
            <img src="/static/imgs/events/{{event.image}}" class="cardimg" alt="...">
            <div class="cardinfo">
                <h1>{{event.startDate}} – {{event.endDate}}</h1>
                <h2>{{event.name}}</h2>
                <p>{{event.description}}</p>
                <a class="cardbutton" href="/edit/{{event.eventId}}">Edit</a>
            </div>
            <h3>{{event.status}}</h3>
        </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}