{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/hosted_events.css">
{% endblock %}

{% block header %}
<video
    src="https://player.vimeo.com/progressive_redirect/playback/727922541/rendition/1080p/file.mp4?loc=external&amp;signature=cbfc2ec884c2abea8922dbc94e0821a1683b460e02d30925c5b3361882c1d2b3"
    autoplay="" loop="" muted="" playsinline=""></video>
{% endblock %}

{% block content %}
<div class="mainsection">
    {% for event in events %}
        <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <div class="cardcontainer" style="background-color: white;">
                <img src="../static/imgs/carousel images/splendour.jpg" class="card-img-top" alt="...">
                <div class="cardbody">
                    <h6 class="date">{{event.startDate}} – {{event.endDate}}</h6>
                    <h5 class="card-title">{{event.name}}</h5>
                    <p class="card-text">{{event.description}}</p>
                    <a href="/edit/{{event.eventId}}" class="button">Edit</a>
                </div>
                <h7 class="ticketstatus">{{event.status}}</h7>
            </div>
        </div>
        {% endfor %}
</div>
</div>

{% endblock %}