{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/hosted_events.css">
{% endblock %}

{% block header %}
<video
    src="https://player.vimeo.com/progressive_redirect/playback/727922541/rendition/1080p/file.mp4?loc=external&amp;signature=cbfc2ec884c2abea8922dbc94e0821a1683b460e02d30925c5b3361882c1d2b3"
    autoplay="" loop="" muted="" playsinline=""></video>
{% endblock %}

{% block content %}
<div class="mainsection">
    <div class="card">
        <img src="../static/imgs/carousel images/splendour.jpg" class="card-img-top" alt="...">
    </div>
    <div class="cardbody">
        <h1>title</h1>
        <button class="cardbutton">Edit event</button>
    </div>
</div>
</div>
{% endblock %}