{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/stylehome.css">
{% endblock %}

{% block header %}
<video
    src="https://player.vimeo.com/progressive_redirect/playback/727922541/rendition/1080p/file.mp4?loc=external&amp;signature=cbfc2ec884c2abea8922dbc94e0821a1683b460e02d30925c5b3361882c1d2b3"
    autoplay="" loop="" muted="" playsinline=""></video>
{% endblock %}

{% block content %}
<div class="title-box">
    <h1>
        experience the night life
    </h1>
    <ul class="secondheadings">
        <li style="display:inline">FESTIVALS</li>
        <li style="display:inline">CLUBS</li>
        <li style="display:inline">CONCERTS</li>
        <li style="display:inline">DJ GIGS</li>
        <li style="display:inline">BAR EVENTS</li>
    </ul>
</div>
</div>
</div>
<div class="section-container">
    <div class="calenderheadings">
        <h1 href="#Most popular">Most popular</h1>
        <h1 href="#New events">New events</h1>
        <h1 href="#This week">This week</h1>
        <h1 href="#This month">This month</h1>
        <h1 href="#This year">This year</a>
    </div>
    <hr class="calender-line" width="90%" />
</div>
</div>
<!-- main body section -->
<div class="container-fluid-events">
    <div class="row">
        <div class="fs_app col-sm-3 col-lg-2" id="fs_app">
            <section class="col-12" id="fs_header_bar">
                <div class="row">
                    <div class="col-2">
                        <i class="fa fa-chevron-left"></i>
                    </div>
                    <div class="col-10" id="fs_page_title">
                        Filters
                    </div>
                </div>
            </section>
            <section class="col-12 " id="fs_price_body">
                <div>
                    <span class="heading">
                        By Price
                    </span>
                    <div class="row  " id="pricing-buttons">
                        <div class="col-4">
                            <button class="btn" type="button">&dollar;</button>
                        </div>
                        <div class="col-4 active">
                            <button class="btn" type="button">&dollar;&dollar;</button>
                        </div>
                        <div class="col-4">
                            <button class="btn" type="button">&dollar;&dollar;&dollar;</button>
                        </div>
                    </div>
                    <div class="line"></div>
                    <div class="line1"></div>
                    <div>
                        <ul>
                            <li>$25</li>
                            <li>$500</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section class="col-12" id="fs_time_body">
                <span class="heading">
                    Event type
                </span>
                <div class="contents">
                    <ul>
                        <li>
                            <span>FESTIVALS</span>
                            <span class="text-right"></span>
                        </li>
                        <li>
                            <span>CLUB EVENTS</span>
                            <span class="text-right"></span>
                        </li>
                        <li class="active">
                            <span>CONCERTS</span>
                            <span class="text-right">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li>
                            <span>DJ GIGS</span>
                            <span class="text-right"></span>
                        </li>
                        <li>
                            <span>BAR EVENTS</span>
                            <span class="text-right"></span>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="col-12" id="fs_distance_body">
                <span class="heading">
                    Distance to you
                </span>
                <div class="contents">
                    <ul>
                        <li>
                            <span>From 1 km to 3 km</span>
                            <span class="text-right"></span>
                        </li>
                        <li class="active">
                            <span>From 4 km to 7 km</span>
                            <span class="text-right">
                                <i class="fa fa-check"></i>
                            </span>
                        </li>
                        <li>
                            <span>From 8 km to 10 km</span>
                            <span class="text-right"></span>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="col-12" id="fs_rating">
                <span class="heading">
                    By Rating
                </span>
                <div class="contents">
                    <ul>
                        <li>
                            <span>
                                <i class="fa fa-star dark"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                            <span class="text-right"></span>
                        </li>
                        <li>
                            <span>
                                <i class="fa fa-star dark"></i>
                                <i class="fa fa-star dark"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                            <span class="text-right"></span>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="cards-libary col-sm-9 col-lg-10 text-center overflow-hidden">
            <div class="row gy-3 gx-3">
                {% for event in events %}
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="cardcontainer">
                        <img src="../static/imgs/carousel images/splendour.jpg" class="card-img-top" alt="...">
                        <div class="cardbody">
                            <h6 class="date">{{event.startDate}} – {{event.endDate}}</h6>
                            <h5 class="card-title">{{event.name}}</h5>
                            <p class="card-text">{{event.description}}</p>
                            <a href="/event/{{event.eventId}}" class="button">BUY TICKETS</a>
                        </div>
                        <h7 class="ticketstatus">{{event.status}}</h7>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="cardcontainer">
                        <img src="../static/imgs/carousel images/ultra.jpg" class="card-img-top" alt="...">
                        <div class="cardbody">
                            <h6 class="date">24 Mar – 26 Mar 2023</h6>
                            <h5 class="card-title">Ultra Miami 2022</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <a href="/Event_details" class="button">BUY TICKETS</a>
                        </div>
                        <h7 class="ticketstatus" id="closed">Inactive</h7>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="cardcontainer">
                        <img src="../static/imgs/events/untold.jpg" class="card-img-top" alt="...">
                        <div class="cardbody">
                            <h6 class="date">4 Aug – 7 Aug 2022</h6>
                            <h5 class="card-title">Untold 2022</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <a href="/Event_details" class="button">BUY TICKETS</a>
                        </div>
                        <h7 class="ticketstatus" id="closed">Booked</h7>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="cardcontainer">
                        <img src="../static/imgs/events/tommorland.jpg" class="card-img-top" alt="...">
                        <div class="cardbody">
                            <h6 class="date">15 July – 31 July 2022</h6>
                            <h5 class="card-title">Tommorland 2022</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <a href="/Event_details" class="button">BUY TICKETS</a>
                        </div>
                        <h7 class="ticketstatus" id="closed">Cancelled</h7>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="cardcontainer">
                        <img src="../static/imgs/events/kickons2.jpeg" class="card-img-top" alt="...">
                        <div class="cardbody">
                            <h6 class="date">12/09/2022</h6>
                            <h5 class="card-title">Kick ons Club</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <a href="/Event_details" class="button">BUY TICKETS</a>
                        </div>
                        <h7 class="ticketstatus">Upcoming</h7>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="cardcontainer">
                        <img src="../static/imgs/events/omnia.jpg" class="card-img-top" alt="...">
                        <div class="cardbody">
                            <h6 class="date">23/09/2022</h6>
                            <h5 class="card-title">Omnia Las Vegas</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <a href="/Event_details" class="button">BUY TICKETS</a>
                        </div>
                        <h7 class="ticketstatus">Upcoming</h7>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="cardcontainer">
                        <img src="../static/imgs/events/prohabition.png" class="card-img-top" alt="...">
                        <div class="cardbody">
                            <h6 class="date">30/09/2022</h6>
                            <h5 class="card-title">Prohabition Club</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <a href="/Event_details" class="button">BUY TICKETS</a>
                        </div>
                        <h7 class="ticketstatus" id="closed">Booked</h7>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-lg-3">
                    <div class="cardcontainer">
                        <img src="../static/imgs/events/themet3.jpg" class="card-img-top" alt="...">
                        <div class="cardbody">
                            <h6 class="date">25/09/2022</h6>
                            <h5 class="card-title">The Met Brisbane</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the
                                bulk of the card's content.</p>
                            <a href="/Event_details" class="button">BUY TICKETS</a>
                        </div>
                        <h7 class="ticketstatus">Upcoming</h7>
                    </div>
                </div> -->
            </div>
            <div class="row gy-3 gx-3">

            </div>
            <div class="row gy-3 gx-3">

            </div>
            {% endblock %}