{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block header %}
<video
    src="https://player.vimeo.com/progressive_redirect/playback/727922541/rendition/1080p/file.mp4?loc=external&amp;signature=cbfc2ec884c2abea8922dbc94e0821a1683b460e02d30925c5b3361882c1d2b3"
    autoplay="" loop="" muted="" playsinline=""></video>
{% endblock %}

{% block content %}
<div class="mainsection">
    <form method="POST">
        <h1 class="logintitle">login</h1>
        <div class="enterfield">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="enterfield">
            <label for="password1" class="form-label">Password</label>
            <input type="password" class="form-control" id="password1" name="password1">
        </div>
        <div class="buttondiv">
            <button type="submit" class="loginbutton">Submit</button>
        </div>
    </form>
</div>
{% endblock %}