{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<link rel="stylesheet" href="../static/css/login.css">
{% endblock %}

{% block header %}
<video
    src="https://player.vimeo.com/progressive_redirect/playback/727922541/rendition/1080p/file.mp4?loc=external&amp;signature=cbfc2ec884c2abea8922dbc94e0821a1683b460e02d30925c5b3361882c1d2b3"
    autoplay="" loop="" muted="" playsinline=""></video>
{% endblock %}

{% block content %}
<div class="mainsection">
    <h1>login</h1>
    <div class="form-floating">
        {{wtf.quick_form(html_form)}}
    </div>
</div>
{% endblock %}