{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/sign_up.css">
{% endblock %}

{% block header %}
<video
    src="https://player.vimeo.com/progressive_redirect/playback/727922541/rendition/1080p/file.mp4?loc=external&amp;signature=cbfc2ec884c2abea8922dbc94e0821a1683b460e02d30925c5b3361882c1d2b3"
    autoplay="" loop="" muted="" playsinline=""></video>
{% endblock %}

{% block content %}
<div class="mainsection">
    <h1>Sign up</h1>
    <div class="enterfield">
        <label for="exampleFormControlInput1" class="form-label">Username</label>
        <input type="email" class="form-control" id="enternameinput" placeholder="enter Username">
    </div>
    <div class="enterfield">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="enternameinput" placeholder="enter Email">
    </div>
    <div class="enterfield">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="email" class="form-control" id="passwordinput" placeholder="enter Password">
        <input type="email" class="form-control" id="passwordinput" placeholder="Comfirn Password">
    </div>
    <div class="form-floating mb-3" id="DOB">
        <input type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Enter Date of Birth</label>
    </div>
</div>
{% endblock %}