{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/yourevents.css">
{% endblock %}

{% block header %}
<div class="slider"></div>
{% endblock %}

{% block content %}
<div class="mainsection">
    <div class="cards-libary overflow-hidden">
        <h10 class="cardstitle">Your events</h10>
        <hr class="similar-events-line" width="90%" />
        <div class="row gy-3 gx-3">
            {% for ticket in tickets %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="cardcontainer">
                    <img src="/static/imgs/events/{{ticket.tickets_for_event.image}}" class="card-img-top" alt="...">
                    <div class="cardbody">
                        <div class="date">
                            <div>
                                <h1 class="day">{{ticket.tickets_for_event.startDate}}</h1>
                            </div>
                        </div>
                        <div class="vl"></div>
                        <div class="detailsection">
                            <h1 class="eventname"><strong>{{ticket.tickets_for_event.name}}</strong></h1>
                            <h1 class="bookeddate">Booked date: <span>{{ticket.tickets_for_event.startDate}}</span></h1>
                            <h1 class="booking-id">Booking id: <span>{{ticket.id}}</span></h1>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>
{% endblock %}